@keyframes pulse__bg {
  0% {
    transform: scale(1);
  }
  45% {
    opacity: 0.7;
    transform: scale(0.75);
  }
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes pulse__dot {
  0% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.7;
  }
}

.tutorial {
  z-index: 4;

  &__bg {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  &__content {
  }
  &__inner {
    &_disabled {
      display: none;
    }
  }
  &__rectangle {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    &_top {
      top: -16px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #fff;
    }
    &_bottom {
      bottom: -16px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #fff;
    }
  }
  &__close {
    display: flex;
    margin-left: auto;
    transition: 150ms background-color;
    padding: 4px;
    border-radius: 4px;

    &:hover {
      background-color: rgba(128, 128, 128, 0.368);
    }
  }
  &__content {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 16px;
    max-width: 100%;
    padding: 8px;
    position: absolute;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
    
    @media screen and (max-width: 375px) {
      width: 300px;
    }
  }
  &__text {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  &__target {
    position: relative;
    z-index: 5;

    .tutorial__target-bg {
      display: block;
    }
  }
  &__target-bg {
    background-color: #fff;
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    left: -7.5px;
    top: -7.5px;
    border-radius: 4px;
    display: none;
  }
}

.pulse {
  width: 27px;
  height: 27px;
  transition: opacity 150ms;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &_hidden {
    opacity: 0;
  }

  &__dot {
    animation: 1.2s ease-in-out 0s infinite normal none running pulse__dot;
    border-radius: 50%;
    background-color: rgb(255, 0, 68);
    height: 50%;
    left: 50%;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    transform: translate(-47.5%, -50%);
    width: 50%;
  }
  &__bg {
    animation: 1.2s ease-in-out 0s infinite normal none running pulse__bg;
    background-color: rgba(255, 0, 68, 0.2);
    border: 2px solid rgb(255, 0, 68);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0px;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    transform-origin: center center;
    width: 100%;
  }
}
